@model TalentAcquisition.Models.LoginViewModel

@{
    ViewBag.Title = "Login Portal";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="container body-content">
    <br />
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_LoginForm")
        </div>
     </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
