
@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="mainbody">
    <section class="container body-content">
        <section class="">
            <h2>Dashboard</h2>
            </section>
        </section>
</section>

