
.vs/TalentHRM/v14/.suo
.vs/TalentHRM/v14/.suo
.vs/TalentHRM/v14/.suo
.vs/TalentHRM/v14/.suo
*.cache
HRM.OnboardingDAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TalentAcquisition/Web.config
*.config
