@using Microsoft.AspNet.Identity

<li>@Html.ActionLink("Application Guidelines", "Guidelines","Home")</li>
@if (Request.IsAuthenticated)
{
     <li>@Html.ActionLink("Dashboard", "Dashboard", "Applicant")</li>
     <li>@Html.ActionLink("Profile", "Profile", "Applicant")</li>
     <li>@Html.ActionLink("Manage Applications", "JobApplications", "Applicant")</li>
}

