<div class="row">
    <div class="col-md-3">
        <h5>Member 1</h5>
        <p>
            Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum
        </p>
    </div>
    <div class="col-md-3">
        <h5>Member 2</h5>
        <p>
            Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum
        </p>
    </div>
    <div class="col-md-3">
        <h5>Member 3</h5>
        <p>
            Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum
        </p>
    </div>
    <div class="col-md-3">
        <h5>Member 4</h5>
        <p>
            Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum
        </p>
    </div>
</div>