<div class="row">
    <div class="container">
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Strength</a></li>
                <li><a data-toggle="tab" href="#menu1">Weakness</a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <br />
                    <textarea class="form-control" rows="5" cols="40"></textarea>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <br />
                    <textarea class="form-control" rows="5" cols="40"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Recommendation</h4>
            <br />
            <h5>
                Based on your Assesment of this candidate, do you think that this candidate should be offered a Job?
            </h5>
            <h4><b>Yes</b>  <input type="radio" value="true" name="Recommendation" /><span class="pull-right"><b>No</b> <input type="radio" value="false" name="Recommendation" /></span></h4>
            
        </div>
    </div>
</div>