
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<style>
    .banner a:hover {
        border-bottom: none;
        font-size: 105%;
        text-decoration: none;
        border-bottom: 2px solid white;
        border-radius: 10px;
    }

    .banner a {
        color: snow;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        border-bottom: none;
        font-size: 100%;
        transition: all ease-in-out 1.2s;
    }

    .banner {
        margin-bottom: 50px;
    }

        .banner #login {
            padding-top: 0.2em;
            margin-top: -5em;
        }

    .jumbotron h1 {
        margin-bottom: 0px;
    }
</style>

<div class="body-content container">
    <section class="banner">
        <div class="jumbotron text-center" style="background-color:transparent">
            <h2>The Job Website</h2>
        </div>
        <div class="row">
            <div class="col-md-push-6">
                <div class="row" id="login">
                    
               </div>
         </div>
        </div>
    </section>
    
</div>
<div class="mainbody">
    <div class="container body-content">
        <section class="recentjobs">
            <div class="row container body-content">
                <section class="searcharea ">
                    @*@Html.Partial("SearchForm")*@
                    @Html.Action("_GetSearchForm", "Job")
                </section>
            </div>
            <div class="row container">
                <div class="col-lg-3">
                    <div class="row">
                        @Html.Partial("_LoginFormHome")
                    </div>
                </div>
                <div class="col-lg-9 col-md-4">
                    <h2 class="text-center">Recent Job Openings</h2>
                    <div class="container">
                        <hr />
                        @Html.Action("_GetRecentJobs", "Job")
                    </div>
                </div>
            </div>

        </section>
    </div>
   
</div>
   
