@model IEnumerable<TalentAcquisition.BusinessLogic.UpdatedDomain.OnboardActivity>

<table class="table table-striped" style="font-size:90%">
     <thead>
        <tr>
            <th>
                Activity Name
            </th>
        </tr>
    </thead>
<tbody id="activities">
    @foreach (var item in Model)
    {
        <tr>
            <td draggable="true">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</tbody>

</table>
